.citationCollection
{
	font-family: 'Trebuchet MS',Verdana,Geneva,Arial,Helvetica,sans-serif;
}
.citationContext
{
	border-style: solid;
	border-width: 3px;
	border-color: #9ce;
	margin-bottom: 2em;
}
.citationTitleBar
{
	background-color: #9ce;
	padding: 6;
	
}
.citationTitle
{
	font-size: large;
}
.citationActions
{
	font-size: medium;
	position: absolute;
	right: 1em;
}
.citationNavBar
{
	font-size: medium;
	background-color: #ffc;
	padding: 4;
}
.citationNavBar a
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.citationNavAlternative
{
	padding: 10;
	overflow: scroll;
}
.hiddenContext
{
	display: none;
}
.visibleContext
{
}
.disabledLink
{
	
}
.enabledLink
{
}
